.version.index /* version checker */
{
	color: #0000F0;
	background-color: #0E1A4F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 921px;
	min-height: 418px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 19px 62px 20px;
}

#pu77
{
	width: 0.01px;
}

#u77
{
	z-index: 4;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u83-4
{
	z-index: 6;
	width: 565px;
	min-height: 30px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 183px;
}

#u101
{
	z-index: 29;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 696px;
}

#pu84
{
	width: 0.01px;
	margin-top: -8px;
}

#u84
{
	z-index: 10;
	width: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u90-5
{
	z-index: 12;
	width: 122px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 42px;
}

#u91
{
	z-index: 27;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 176px;
}

#u98-5
{
	z-index: 17;
	width: 151px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 220px;
}

#u90,#u98
{
	text-decoration: none;
	color: #191919;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u100-5
{
	z-index: 22;
	width: 204px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 411px;
}

#u119
{
	z-index: 40;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#pu75
{
	width: 0.01px;
	margin-top: 34px;
}

#u75
{
	z-index: 2;
	width: 920px;
	background-color: transparent;
	padding-bottom: 543px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u108
{
	z-index: 31;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#u114
{
	z-index: 32;
	width: 921px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u117-6
{
	z-index: 33;
	width: 460px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u118
{
	z-index: 39;
	width: 436px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u76
{
	z-index: 3;
	width: 361px;
	height: 45px;
	margin-top: 93px;
	position: relative;
}

.ie #u118,.ie #u76
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

