.version.index /* version checker */
{
	color: #000000;
	background-color: #9BD289;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#pu133-5
{
	width: 0.01px;
	margin-left: 716px;
}

#u133-5
{
	z-index: 26;
	width: 133px;
	min-height: 21px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u133
{
	text-decoration: underline;
	font-weight: normal;
}

#u137
{
	z-index: 31;
	overflow: hidden;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	left: 150px;
}

#pu83-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 6px;
}

#u83-4
{
	z-index: 4;
	width: 565px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 183px;
}

#u156
{
	z-index: 37;
	position: relative;
	margin-right: -10000px;
}

#u171
{
	z-index: 40;
	width: 197px;
	min-height: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 689px;
}

#u201-5
{
	z-index: 41;
	width: 178px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 710px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu161
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -5px;
}

#u161
{
	z-index: 38;
	position: relative;
	margin-right: -10000px;
}

#u90-5
{
	z-index: 8;
	width: 122px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 42px;
}

#u166
{
	z-index: 39;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 176px;
}

#u98-5
{
	z-index: 13;
	width: 151px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 220px;
}

#u90,#u98
{
	text-decoration: none;
	color: #191919;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u100-5
{
	z-index: 18;
	width: 204px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 411px;
}

#u119
{
	z-index: 24;
	width: 97px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 678px;
}

#u75
{
	z-index: 2;
	width: 920px;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 81px;
	position: relative;
}

#u75_position_content
{
	margin-top: -45px;
	padding-bottom: 308px;
}

#pu144
{
	width: 0.01px;
}

#u144
{
	z-index: 32;
	width: 442px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u146
{
	z-index: 33;
	width: 463px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#u108
{
	z-index: 23;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u153-3
{
	z-index: 34;
	width: 375px;
	min-height: 164px;
	background-color: transparent;
	margin-top: 48px;
	position: relative;
}

#u76
{
	z-index: 3;
	width: 361px;
	height: 45px;
	margin-left: 20px;
	margin-top: 93px;
	position: relative;
}

.ie #u76
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
}

